.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-background-color);

  font-size: 14px;
  line-height: 2;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
}

.address__superscription {
  color: var(--wight-color);

  font-style: normal;
  text-decoration: none;
}

.footer__mail,
.footer__tel {
  color: var(--footer-link-color);

  font-style: normal;
  text-decoration: none;
}

.footer__title {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wight-color);
  margin-bottom: 20px;
}

.appeal {
  margin-left: 70px;
}

.footer-form {
  color: var(--wight-color);
  margin-left: auto;
}

.footer-form__email {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  border: 1px solid var(--footer-input-bordercolor);
  border-radius: 4px;
  outline: none;
  background-color: var(--footer-background-color);
  color: var(--section-second-color);
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }
}

.footer-form__button {
  margin-left: 12px;
  display: flex;
  align-items: center;
  padding: 10px 28px;
}

.footer-form__button-icon {
  display: inline-block;
  fill: currentColor;
  margin-left: 10px;
}

.footer-form__wrapper {
  display: flex;
}
